*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background: #061326 /*#061326*/;
  color:white;
  overflow-x:hidden;
  min-height:100vh;
}

.container{
  width:min(1200px,92%);
  margin:auto;
  padding:50px 0 80px;
  position:relative;
  z-index:2;
}

/* BACKGROUND GLOW */

.bg-glow{
  position:fixed;
  border-radius:50%;
  filter:blur(120px);
  z-index:0;
}

.glow-1{
  width:400px;
  height:400px;
  background:#1d73ff55 /*#1d73ff55*/;
  top:-100px;
  left:-100px;
}

.glow-2{
  width:500px;
  height:500px;
  background:transparent /*#00d0ff22*/;
  bottom:-200px;
  right:-100px;
}

/* LANDING SECTION */

.landing{
  height: 80vh;
  display:flex;
  flex-direction: row;
  gap:40px;
  align-items: center;
  justify-content: center;

}

.landing-content{
  animation: slideTop 2.5s ease forwards;
  animation-delay: .4s;
}

.badge{
  display:inline-block;
  background:#0d2648;
  color:#69a6ff;
  border:1px solid #2d5fa8;
  padding:10px 18px;
  border-radius:100px;
  font-size:.9rem;
  margin-bottom:20px;
}

.landing h1{
  font-size:4.2rem;
  line-height:1;
  font-weight:800;
  margin-bottom:24px;
}

.landing-text{
  color:#c5d7ef;
  line-height:1.8;
  max-width:520px;
  margin-bottom:30px;
  font-size:1.1rem;
}

.device-box{
  display:flex;
  align-items:center;
  gap:20px;
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.1);
  padding:24px;
  border-radius:22px;
  backdrop-filter:blur(12px);
  width:fit-content;
}

.device-icon{
  width:65px;
  height:65px;
  border-radius:18px;
  display:grid;
  place-items:center;
  background:#1976ff;
  font-size:1.7rem;
}

.device-box span{
  color:#8eb8ff;
  font-size:.9rem;
}

.device-box h3{
  font-size:2rem;
  margin-top:4px;
}

/* LANDING CARD */

.landing-card{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
  border-radius:0px;
  padding:15px;
  backdrop-filter:blur(16px);
  box-shadow:0 30px 60px rgba(0,0,0,.35);
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

.tv-screen{
  position:relative;
  width: 610px;
  height:fit-content;
  border-radius:0px;
  overflow:hidden;
  background:
    linear-gradient(
      135deg,
      #0a1930,
      #00142e 45%,
      #092956
    );
  padding:0px;
}

#landing-image{
  width: 100%;
  height: fit-content;
}

#chevron-icon{
  margin-left: 47%;
  animation: slideTop 2s ease forwards, floatItem 3s  ease-in-out infinite;
  animation-delay: .4s, 2.1s;
}

#chevron-icon a {
  color: #ffffff;
}

.tips{
  margin-top:50px;
  position:relative;
  z-index:2;
}

.tips h3{
  margin-bottom:20px;
  font-size:1.5rem;
}

.tips ul{
  color:#d0ddef;
  line-height:2;
  padding-left:20px;
}

/* TIPS SECTION */

.tips-section{
  margin-top:80px;
}

.tips-header{
  text-align:center;
  margin-bottom:35px;
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

.tips-header h2{
  font-size:3rem;
  margin-bottom:10px;
}

.tips-header p{
  color:#a8bfdc;
}

.tips-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:24px;
}

.tip-card{
  background:rgba(255,255,255,.06);
  border:1px solid rgba(255,255,255,.08);
  border-radius:26px;
  padding:30px;
  transition:.3s ease;
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

.tip-card:hover{
  transform:translateY(-5px);
  border-color:#4b94ff;
}

.tip-icon{
  width:65px;
  height:65px;
  border-radius:18px;
  display:grid;
  place-items:center;
  background:#1976ff22;
  color:#8cb9ff;
  font-size:1.7rem;
  margin-bottom:20px;
}

.tip-card h3{
  margin-bottom:12px;
}

.tip-card p{
  color:#bfd0e6;
  line-height:1.7;
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

/* STEPS SECTION */

.steps{
  display:flex;
  flex-direction:column;
  gap:24px;
}

.steps-header{
  text-align:center;
  margin-bottom:35px;
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

.steps-header h2{
  font-size:3rem;
  margin-bottom:10px;
}

.step-card{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items:center;
  text-align: center;
  justify-content: center;
  gap: 25px;
  background:rgba(255,255,255,.06);
  border:1px solid rgba(255,255,255,.08);
  border-radius:28px;
  padding:30px;
  backdrop-filter:blur(16px);
  transition:.3s ease;
  animation: slideTop 2s ease forwards;
  animation-delay: .4s;
}

.step-card:hover{
  transform:translateY(-4px);
  border-color:#2f7fff;
  box-shadow:0 20px 50px rgba(0,0,0,.35);
}

.step-number{
  width:85px;
  height:85px;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius:50%;
  background:white;
  color:#0d1f39;
  font-size:1.4rem;
  font-weight:800;
}

.step-content h2{
  font-size:2rem;
  margin-bottom:12px;
}

.step-content p{
  color:#c7d8ee;
  line-height:1.7;
  font-size:1rem;
}

.step-icon{
  width:70px;
  height: fit-content;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius:24px;
  font-size:2rem;
  font-weight:700;
}

.step-icon img{
  border-radius: 10px;
}

.device-grid{
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 300px;
  gap:18px;
  margin-top:20px;
}

.device-tip{
  background:#0c1f3d;
  border:1px solid rgba(255,255,255,.06);
  padding:20px;
  border-radius:18px;
}

.device-tip h4{
  margin-bottom:10px;
  color:#84b4ff;
}

.device-tip p{
  font-size:.95rem;
}

/* RESPONSIVENESS */

@media (max-width: 1100px) {
  .container{
    margin-top: 0%;
    padding-top: 15px;
  }
  .landing{
    flex-direction: column;
    height: 170vh;
  }

  .tv-screen{
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .landing-card{
    padding: 10px;
    border-radius: 0px;
  }

  #chevron-icon{
    padding-top: 80px;
  }

  .tips-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
    .container{
    margin-top: 0%;
    padding-top: 15px;
  }
  .landing{
    flex-direction: column;
    height: 125vh;
  }

  .tv-screen{
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .landing-card{
    padding: 10px;
    border-radius: 0px;
  }

  #chevron-icon{
    padding-top: 50px;
  }

  .step-icon{
    width: 120%;
  }

  .step-icon img{
    width: 90%;
    height: fit-content;

  }

  .device-grid{
    flex-direction: column;
    min-width: fit-content;
  }
}

@media (min-width: 600px) {
    .landing{
    flex-direction: column;
    height: 140vh;
  }

  .tv-screen{
    width: 100%;
    height: fit-content;
    border-radius: 0px;
  }
}

@media (max-width: 480px) {
  .container{
    margin-top: 0%;
    padding-top: 15px;
  }
  .landing{
    flex-direction: column;
    height: 125vh;
  }

  .tv-screen{
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .landing-card{
    padding: 10px;
    border-radius: 0px;
  }

  #chevron-icon{
    padding-top: 30px;
  }

  .step-icon{
    width: 120%;
  }

  .step-icon img{
    width: 90%;
    height: fit-content;

  }

  .device-grid{
    flex-direction: column;
    min-width: fit-content;
  }
}

/* ANIMATIONS */

@keyframes floatItem {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-26px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform:translateY(0);
        opacity: 1;
    }
}
